coverage
.yarn-cache
dist
*.zip
.DS_Store
node_modules
package-lock.json
yarn.lock


# local env files
.env.local
.env.*.local

# Log files
*.log



# Editor directories and files
.git
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?